@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.questions {
    background-color: #fefefe;
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.11);
    padding: 24px;

    &.highlighted {
        background-color: #F4F0FF;
        border: 1px solid $color-primary;

        footer .user span {
            color: $color-black;
        }
    }

    &.answered {
        border: 0;
        background-color: #DBDCDD;
    }

    &:not(:first-child) {
        margin-top: .5rem;
    }

    footer {
        @include center-between;
        margin-top: 1rem;

        .user {
            span {
                color: $color-gray-black ;
                font-weight: 400;
            }
        }

        > div {
            display: flex;
            gap: 1rem;

            button {
                background: transparent;
                border: 0;
                cursor: pointer;
                // height: 0;



                // &:hover {
                //     svg * {
                //         stroke: $color-primary;
                //     }
                // }
            }

            .like-btn {
                display: flex;
                align-items: flex-start;
                gap: .5rem;
                color:$color-gray-black;

                &.liked {
                    color: $color-primary;

                    svg path {
                        stroke: $color-primary;
                    }
                }

                &:not(:disabled):hover {
                    svg path, span {
                        filter: brightness(0.5);
                    }
                }
            }

            .delete-btn:hover {
                transition: .2s;
                svg * {
                    stroke: red;
                }
            }
        }
    }
}