$color-primary: #835AFD;
$color-secondary: #E559F9;
$color-white: #fff;
$color-ligth-gray: #A8A8B3;
$color-dark-gray: #29292e;
$color-google: #EA4335;
$color-gray-black: #737380;
$color-black: #29292E;

// fonts

$font-roboto: 'Poppins', sans-serif;
$font-poppins: 'Roboto', sans-serif;